.flightCont{
    width: 1200px;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
}
.bg{
    background-image: linear-gradient(
        0deg
        ,#15457b,#051423);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 160px;
}
.flightDetails{
    width: 880px;
    z-index: 1;
    margin-top: 100px;
}
.flightDetails p{
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 900;
}
.mainFlightDetail{
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
    border-radius: 2px;
    background: #fff;

}
.weekFare{
    background: #fff;
    box-shadow: 0 4px 7px 0 rgb(138 107 118 / 20%);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.fareItem{
    text-align: center;
    height: 68px;
    border-left: 1px solid #eaeaea;
    width: 102.75px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fareItem p{
    color:rgba(0,0,0,.85);
    font-size: 12px;
    margin-bottom: 10px;
}
.fareItem span{
    color:rgba(0,0,0,.85);
    font-size: 16px;
}
.fareIcon{
    border-left: 1px solid #eaeaea;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    cursor: pointer;
    color: blue;
}

.sortFlight{
    margin-bottom: 15px;
    padding-top: 20px;
}
.sortFlight div{
    background: #f4f4f4;
    padding: 8px;
    display: flex;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
.useless{
    opacity: 0;
    visibility: hidden;
    text-align: left;
    margin-left: 10px;
    width: 115px;
}
.useful{
    opacity: 1;
    visibility: visible;
    text-align: left;
}
.listcard{
    border-top: 1px solid #eaeaea;
    padding: 16px 20px;
    display: flex;
    align-items: center;
}   
.listcard p{
    color: black;
    font-weight: 700;
}
.flightLogo{
    width: 32px;
    height: 32px;
    display: block;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}