.sideCont{
    width:295px;
    align-self: flex-start;
    position: unset;
    bottom: auto;
    border-radius: 2px;
    background: #fff;
    z-index: 1;
    margin-top: 100px;
    color: #4a4a4a;
}
.sideWrapper{
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
}
.sideOuter{
    padding: 12px 15px;
    width: 100%;
}
.sideOuter p{
    font-size: 16px;
    font-weight: 900;
    margin-bottom:15px ;
}

.sideOuter label{
    margin-left: 15px;
}