.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}
.iconsHeader{
    display: flex;
}
.myTripsIcon {
    width: 16px;
    height: 25px;
    background-position: -122px -30px;
    margin-right: 10px;
}
.supportIcon {
    width: 23px;
    height: 25px;
    background-position: -174px -2px;
}
.landingSprite{
    background-image: url(//imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/landingSprite@10x.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 200px 600px;
    font-size: 0;
    flex-shrink: 0;
}
.joinIcons{
    display: flex;
    cursor: pointer;
    background-color: rgba(255,255,255,.15);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    margin: 5px;
    border-radius: 4px;
    padding: 5px 10px;
    align-items: center;
}
.joinIcons p{
    color: white;
    font-size: 10px;
    line-height: 10px;
}
.myIconWhite {
    background-position: -67px -489px!important;
    width: 23px;
    height: 22px;
}
.myIcon{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    font-weight: 900;
    color: #fff;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.joinBtn{
    background-image: linear-gradient(
        45deg
        ,#53b2fe,#065af3);
    cursor: pointer;
    background-color: rgba(255,255,255,.15);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    margin: 5px;
    border-radius: 4px;
    padding: 5px 10px; 
    align-items: center;
    position: relative;
    display: flex;
    font-size: 10px;
    line-height: 10px;       
}