.headerOuter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11;
    top:8vh;
}
.inner{
    width: 70%;
    background-color: white;
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 40%);
    height: 79px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.allLogo {
    background-image: url(//imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/commonHeaderSprite5.png)!important;
    background-repeat: no-repeat;
    background-size: 230px 200px;
}

.flightLogo{
    background-position: -4px 0;
    width: 40px;
    height: 34px;
    background-size: 300px 267px;
    margin-bottom: 2px;
    color: #008cff;
    cursor: pointer;
}

.linkLogo p{
    
}