.searchBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.searchMain{
    width: 1200px;
    margin: 0 auto;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    padding: 50px 20px ;
    display: flex;
    flex-direction: column;
}
.wayBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2px 5px;
    cursor: pointer;
    margin: 0 10px;
}
.wayBtn2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2px 5px;
    background: #e7e7e7;
    color: #000000;
    border-radius:15px ;
    margin: 0 10px;
}
.flighType{
    display: flex;
    margin-bottom:20px ;
}
.searchBoxes{
    display: flex;
    margin-bottom:30px ;
}

.searchInputBox{
    padding: 10px 19px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border:1px solid #e7e7e7;
    border-radius: 10px 0 0 10px;
    width: 300px;
}
.changeInput{
    position: relative;
}
.inputOverflow{
    position: absolute;
    width: 100%;
}
.hiddenInput{
    background: #ffffff;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    padding: 11px 10px 11px 30px;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 16px;
    color: #000000;
    font-weight: 700;

}
.hiddenOptions{
    background: #ffffff;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    width: 100%;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
}   
.hiddenList{
    padding: 10px 10px;
    margin-bottom: 5px;
    cursor: pointer;  
}
.hiddenList:hover{
    background-color: #f2f2f2;
}
.departure{
    padding: 10px 20px;
    border:1px solid #e7e7e7;
   
}
.departure span{
    font-weight: 700;
    font-size: 14px;
    color: #4a4a4a;
}
.departure h3{
    color: #4a4a4a;
    margin-bottom: 10px;
}
.departure p,.searchInputBox p{
    font-size: 14px;
    color: #4a4a4a;
}

.fareBtn{
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    background-color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    margin-right: 10px;
    cursor: pointer;
    border:none
}

.searchBtnMain{
    width: 216px;
    padding: 10px;
    margin-bottom: -32px;
    opacity: 1;
    color: #fff;
    font-weight: 700;
    border-radius: 34px;
    background-image: linear-gradient(
96deg
,#53b2fe,#065af3);
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 20%);
    display: inline-block;
    flex-shrink: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    border: 0;
    text-align: center;
    font-size: 24px;
}